.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.App__header {
  background: #282c34;
  height: 20vh;
  margin: auto;
  vertical-align: middle;
  line-height: 20vh;
}
.App__heading {
  color: orange;
  text-transform: uppercase;
  font-size: 48px;
}

.game-space {
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}

.game-space__player {
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
}

.game-space__player.active {
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  color: orange;
}

.registration {
  height: 10vh;
  line-height: 10vh;
  vertical-align: middle;
  margin: auto;
}
.registration__input {
  width: 200px;
  font-size: 16px;
  padding: 4px 10px;
  letter-spacing: 3px;
  margin-right: 20px;
  border: 2px solid orange;
  color: #282c34;
}
.registration__button {
  width: 200px;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  letter-spacing: 10px;
  border: 2px solid orange;
  background: orange;
  color: #282c34;
  box-shadow: 2px 2px #565f707c;
  border-radius: 2px;
}

.board {
  width: 320px;
  height: 320px;
  display: inline-block;
}
.board__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #282c34;
}
.board__row {
  background: #282c34;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.board__cell {
  height: 100px;
  width: 100px;
  background: #ffffff;
  vertical-align: middle;
  line-height: 100px;
}

.winner-message {
  margin-top: 50px;
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  color: orange;
}
